body {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2vw;
  background-color: #c5d4eb;
}
.wrapper{
  margin: auto;
  max-width: 80%;
  border: 1px solid black;
}

/* Header style */

header{
  position: relative;
}
.blur{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/base_b186ac9178.gif);
  background-size: 100%;
  opacity: .6;
  filter: blur(3px);
}
.header-maininfo{
  position: relative;
  display: flex;
  color: white;
}
header img{
  width: 20%;
  border-radius: 50%;
  margin: 6% 6% 6% 10%;
  box-shadow: 0 0 45px thistle;
}
.header-maininfo h1 {
  padding: 10% 0 0 0;
}
.header-maininfo h2{
  padding: 16% 0 0 0;
  margin-left: -20.5%;
}

/* Main & aside style */
.cont{
  display: flex;
}
aside{
  max-width: 30%;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #fff;
  background-color: #003d73;
  box-shadow: inset 0 0 30px 3px #c5d4eb;
}
aside h2{
  margin-top: 0;
  padding: 20px 30px;
  box-sizing: border-box;
}
aside figure{
  display: flex;
}
aside figure img{
  max-width: 8%;
  padding-right: 5%;
  filter: invert(1);
}
.description{
  padding:0 6.9%;
}

main {
  max-width: 70%;
  box-sizing: border-box;
  background-color: #ccc;
}
.main-info {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: justify;
}
.main-info h2 {
  text-align: center;
  color: #003d73;
}
.main-info p {
  text-indent: 1vw;
}
ul{
  margin-left: 5%;
  font-style: oblique;
  font-weight: bold;
}
/* Styling footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  box-sizing: border-box;
  margin: auto;
  padding-left: 1vw;
  padding-right: 1vw;

  color: #fff;

  background-color: #003d73;
  border: 0.01vw solid black;
  border-top: none;
}
footer p:last-child {
  min-width: 25%;
  text-align: end;
}
footer img {
  float: right;
  max-width: 20%;
  margin-left: 1vw;
}
a {
  color: white;
}
